<h1>Edit <%= @artist.name %></h1>

<%= render partial: 'form', locals: {
                                      path: artist_path(@artist),
                                      method: :patch,
                                      button_text: 'Update Artist',
                                      artist: @artist } %>