<h1>All Artists</h1>

<%= link_to 'New Artist', '/artists/new' %>

<% @artists.each do |artist| %>
  <h2><%= artist.name %></h2>
  <%= link_to "Edit #{artist.name}", "/artists/#{artist.id}/edit" %>
  <%= button_to "Delete #{artist.name}", "/artists/#{artist.id}", method: :delete %>
<% end %> 
