<h1>All Contestants</h1>

<% @contestants.each do |contestant| %>
  <section id="contestant-<%= contestant.id %>">
    <p>Name: <%= contestant.name %> </p>
    <p>Projects: <%= contestant.project_list %> </p>
  </section>
<% end %>