<h1>Dish: <%= @dish.name %></h1>
<h2>Chef: <%= @dish.chef.name %></h2>
<section class='ingredients_list'>
  <h3>Ingredients:</h3>
  <ul>
    <% @dish.ingredients.each do |ingredient| %>
     <li><%= ingredient.name %></li>
    <% end %>
  </ul>
</section>

