<h1>All Students</h1>

<h2>Average Age of all Students: <%= @students.average_age %> </h2>

<% @students.each do |student| %>
  <h3>Name: <%= student.name %> </h3>
  <p>Age: <%= student.age %> </p>
  <p>House: <%= student.house %> </p>
<% end %>